<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenseSight.ai - Home</title>
    <link rel="stylesheet" href="../static/css/dashboard_style.css">
</head>

<body>
<header class="navbar">
    <div class="navbar-content">
        <h1 class="navbar-title">SenseSight.ai</h1>
        <div class="navbar-icon">
            <button class="profile-btn" onclick="toggleProfileMenu()">
                <img src="../static/images/user.jpeg" alt="User Icon">
            </button>
        </div>
    </div>
</header>
<div class="main-container">
    <section class="section" id="details-section">
        <div class="content">
            <div class="image-container">
                <img src="../static/images/image_2.png" alt="Data Analysis Illustration">
            </div>
            <div class="text-container">
                <h2>Turning Sights into Sounds</h2>
                <p>
                    Our platform leverages object detection and real-time audio feedback to create an inclusive
                    tomorrow. Whether you upload an image or use our live camera feature, SenseSight ensures an
                    intuitive and seamless experience.
                </p>
                <div class="buttons">
                    <button class="action-button" onclick="showDetectionPopup()"><b>Start Detection</b></button>
                </div>
                <div id="detectionPopup" class="detection-popup">
                    <div class="detection-content">

                        <button class="popup-close-btn" onclick="closeDetectionPopup()">&#11164;</button>
                        <iframe id="apiFrame" allow="camera" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="profile-menu" class="profile-menu">
    <button class="close-btn" onclick="toggleProfileMenu()">×</button>
    <div class="profile-menu-content">
        <div class="profile-avatar">
            <div class="avatar-circle">
                <img src="../static/images/profile-user.jpeg" alt="Profile icon">
            </div>
        </div>
        <ul class="profile-options">
            <li id="personalDetailsBtn" onclick="openPersonalDetails()">Personal Details <span>›</span></li>
            <li id="passwordBtn" onclick="openPassword()">Change Password <span>›</span></li>
        </ul>
        <button class="logout-btn">Log Out</button>
    </div>
</div>

<div id="personalDetails" class="modal">
    <div class="modal-content">
        <button class="close-btn" onclick="closePersonalDetails()">×</button>
        <div class="profile-avatar">
            <div class="avatar-circle">
                <img src="../static/images/profile-user.jpeg" alt="Profile icon">
            </div>
        </div>
        <h2>Personal Details</h2>
        <form id="detailsForm">
            <div class="form-group">
                <label for="name"><i class="icon-user"></i> Name:</label>
                <input type="text" id="name" placeholder="{{ data.name }}" readonly>
            </div>
            <div class="form-group">
                <label for="email"><i class="icon-user"></i> Username:</label>
                <input type="email" id="email" placeholder="{{ data.email }}" readonly>
            </div>
            <div class="form-group">
                <label for="created_at"><i class="icon-phone"></i> Created_at:</label>
                <input type="text" id="created_at" placeholder="{{ data.created_at }}" readonly>
            </div>
            <button class="edit-btn"><a href="/dashboard/profile/edit" id="edit-link">Edit Profile</a></button>
        </form>
    </div>
</div>

<div id="password" class="modal">
    <div class="modal-content">
        <button class="close-btn" onclick="closePassword()">×</button>
        <h2>Change password</h2>
        <p>
            Your password must be at least 6 characters and should include a combination of numbers, letters and special
            characters (!$@%).
        </p>
        <form id="passwordForm">
            <div class="form-group">
                <label for="newPassword"><i class="icon-user"></i> New password :</label>
                <div class="password-container">
                    <input type="password" id="newPassword" placeholder="New password" required>
                    <i class="toggle-password" onclick="togglePasswordVisibility('newPassword')">👁️</i>
                </div>
            </div>
            <div class="form-group">
                <label for="retypePassword"><i class="icon-phone"></i> Re-type new password :</label>
                <div class="password-container">
                    <input type="password" id="retypePassword" placeholder="Re-type new password" required>
                    <i class="toggle-password" onclick="togglePasswordVisibility('retypePassword')">👁️</i>
                </div>
            </div>
            <button type="submit" class="submit-btn">Change password</button>
        </form>
    </div>
</div>
<script src="../static/js/script.js"></script>
</body>

</html>